.dvd-module .controls {
  position: absolute;
  left: 30px;
  width: 160px;
  top: 80px;
  bottom: 20px; }
  .dvd-module .controls .background {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #3E3E3E;
    -webkit-border-radius: 20px;
    -webkit-box-shadow: 0 0 3px 4px #333, 0 0 3px #000 inset; }
  .dvd-module .controls .dvd-button {
    height: 50px;
    position: absolute;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BABABA), to(#FFFFFF));
    -webkit-box-shadow: 0 0 2px #333;
    -webkit-border-radius: 5px;
    z-index: 60;
    border: 1px solid #FFF; }
    .dvd-module .controls .dvd-button:active {
      background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#949494), to(#828282));
      -webkit-box-shadow: 0 0 3px #000 inset; }
    .dvd-module .controls .dvd-button .image {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      background-image: sc_static("dvd_controls.png"); }
    .dvd-module .controls .dvd-button.play {
      left: 0;
      right: 0;
      top: 0; }
      .dvd-module .controls .dvd-button.play .image {
        background-position: 50% -8px; }
    .dvd-module .controls .dvd-button.rewind {
      top: 60px;
      left: 0;
      width: 57px; }
      .dvd-module .controls .dvd-button.rewind .image {
        background-position: -5px 225px; }
    .dvd-module .controls .dvd-button.pause {
      top: 60px;
      left: 50%;
      margin-left: -30px;
      width: 60px;
      background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#FFE37B), to(#FEE22D));
      -webkit-border-radius: 100px;
      z-index: 62; }
      .dvd-module .controls .dvd-button.pause:active {
        background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#ccb562), to(#b29e56)); }
      .dvd-module .controls .dvd-button.pause .image {
        background-position: 50% 225px; }
    .dvd-module .controls .dvd-button.fastforward {
      top: 60px;
      right: 0;
      width: 57px; }
      .dvd-module .controls .dvd-button.fastforward .image {
        background-position: 70px 225px; }
    .dvd-module .controls .dvd-button.stop {
      top: 120px;
      left: 0;
      right: 0; }
      .dvd-module .controls .dvd-button.stop .image {
        background-position: 50% 160px; }
    .dvd-module .controls .dvd-button.previous {
      width: 75px;
      left: 0;
      top: 180px; }
      .dvd-module .controls .dvd-button.previous .image {
        background-position: 10% 105px; }
    .dvd-module .controls .dvd-button.next {
      width: 75px;
      right: 0;
      top: 180px; }
      .dvd-module .controls .dvd-button.next .image {
        background-position: 90% 105px; }
    .dvd-module .controls .dvd-button.menu {
      width: 75px;
      left: 0;
      top: 240px; }
      .dvd-module .controls .dvd-button.menu .image {
        background-position: 10% 55px; }
    .dvd-module .controls .dvd-button.title {
      width: 75px;
      right: 0;
      top: 240px; }
      .dvd-module .controls .dvd-button.title .image {
        background-position: 90% 55px; }
  .dvd-module .controls .pause-circle {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 55px;
    left: 50%;
    margin-left: -40px;
    -webkit-border-radius: 100px;
    background: #3E3E3E;
    z-index: 61; }
