@-webkit-keyframes 'pulse' {
  from {
    opacity: 0; }

  40% {
    opacity: 0.6; }

  60% {
    opacity: 0.6; }

  to {
    opacity: 0; } }

@-moz-keyframes 'pulse' {
  from {
    opacity: 0; }

  40% {
    opacity: 0.6; }

  60% {
    opacity: 0.6; }

  to {
    opacity: 0; } }

.overflow {
  overflow: visible; }

.top-bar {
  background: -webkit-gradient(linear, 0% 0%, 0% 59%, from(#6D6D6D), to(#000000));
  overflow: visible; }
  .top-bar .sc-label-view {
    color: #A1A1A1;
    font-family: "Gotham Black"; }
  .top-bar .room-label {
    line-height: 26px;
    font-size: 28px; }
  .top-bar .time-label {
    font-size: 24px;
    line-height: 22px; }

.sc-view.status-button {
  overflow: visible;
  z-index: 300; }
  .sc-view.status-button .button {
    background: -webkit-gradient(linear, 0% 0%, 0% 55%, from(#808285), to(black));
    border: 1px solid #303030;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    z-index: 301;
    overflow: visible; }
    .sc-view.status-button .button:active {
      -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px -5px 12px inset, black 0px 1px 3px inset, rgba(255, 255, 255, 0.398438) 0px 1px;
      -moz-box-shadow: rgba(0, 0, 0, 0.398438) 0px -5px 12px inset, black 0px 1px 3px inset, rgba(255, 255, 255, 0.398438) 0px 1px; }
  .sc-view.status-button img {
    z-index: 302;
    pointer-events: none; }
  .sc-view.status-button .sc-view.sc-label-view.sc-regular-size {
    z-index: 302;
    color: white;
    font-family: "Myriad Pro";
    font-size: 25px;
    line-height: 32px;
    pointer-events: none; }
  .sc-view.status-button .control-drawer {
    background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#F8D5A9), to(#F9A031));
    z-index: 300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px #333;
    -moz-box-shadow: 0 2px 4px #333; }
    .sc-view.status-button .control-drawer .control-button {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border: 1px solid #FFF;
      -webkit-box-shadow: 0 0 3px #000;
      -moz-box-shadow: 0 0 3px #000;
      background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#d8d8d8), to(#acacac));
      border-color: #D3D3D3; }
      .sc-view.status-button .control-drawer .control-button:active {
        background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#acacac), to(#979797));
        -webkit-box-shadow: 0 0 3px #000 inset;
        -moz-box-shadow: 0 0 3px #000 inset; }
      .sc-view.status-button .control-drawer .control-button.disabled {
        opacity: 0.6;
        -webkit-box-shadow: 0 0 3px #000;
        -moz-box-shadow: 0 0 3px #000;
        background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#d8d8d8), to(#acacac)); }
      .sc-view.status-button .control-drawer .control-button .label {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
        font-size: 30px;
        font-family: "Myriad Pro";
        font-weight: 700;
        color: #333;
        line-height: 40px;
        text-align: center; }
    .sc-view.status-button .control-drawer.volume-control {
      background: sc_static("volume_background.png") 50% 60px no-repeat, #2B2C2B; }
      .sc-view.status-button .control-drawer.volume-control .volume-slider {
        background-image: sc_static("volume_controller.png");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 0; }
      .sc-view.status-button .control-drawer.volume-control .control-button {
        background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#FFFFFF), to(#D1D2D3));
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px; }
        .sc-view.status-button .control-drawer.volume-control .control-button:active {
          background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#D1D1D1), to(#A9AAAB)); }
        .sc-view.status-button .control-drawer.volume-control .control-button .mute-overlay {
          width: 32px;
          height: 7px;
          left: 50%;
          top: 50%;
          margin-left: -16px;
          margin-top: -3.5px;
          position: absolute;
          background: #403E3F;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          pointer-events: none; }
        .sc-view.status-button .control-drawer.volume-control .control-button .mute-light {
          width: 32px;
          height: 7px;
          left: 50%;
          top: 50%;
          margin-left: -16px;
          margin-top: -3.5px;
          position: absolute;
          background: #E82725;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          pointer-events: none;
          -webkit-animation-name: pulse;
          -moz-animation-name: pulse;
          -webkit-animation-duration: 3s;
          -moz-animation-duration: 3s;
          -webkit-animation-iteration-count: infinite;
          -moz-animation-iteration-count: infinite; }
      .sc-view.status-button .control-drawer.volume-control .sc-view.sc-label-view.sc-regular-size {
        font-family: "Gotham Bold";
        font-size: 14px;
        color: white;
        line-height: 14px; }

.main-body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D1D3D4), to(#9D9FA2)); }
  .main-body .action-list-view {
    -webkit-box-shadow: 7px 0px 5px #333333;
    -moz-box-shadow: 7px 0px 5px #333333;
    overflow: inherit;
    z-index: 200; }
    .main-body .action-list-view .title-view {
      background: -webkit-gradient(linear, 0% 0%, 0% 91%, from(#96B1CF), to(#5A6A7C), color-stop(.5,#5A6A7C));
      -webkit-box-shadow: 0px 4px 6px #333333;
      -moz-box-shadow: 0px 4px 6px #333333;
      z-index: 48; }
      .main-body .action-list-view .title-view .sc-view.sc-label-view.sc-regular-size.title-text {
        text-shadow: 0px 1px 0px #333333;
        font-size: 32px;
        line-height: 34px;
        color: white;
        font-family: "Myriad Pro"; }
    .main-body .action-list-view .action-list .sc-view.sc-collection-view.sc-list-view {
      background: #D1D1D1;
      -webkit-box-shadow: 0 0 10px 10px #B5B5B5 inset;
      -moz-box-shadow: 0 0 10px 10px #B5B5B5 inset; }
    .main-body .action-list-view .action-list .sc-view.action-view.sc-collection-item {
      border-bottom: 1pt solid #B5B5B6; }
    .main-body .action-list-view .action-list .action-view-item {
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
      height: 100%;
      color: #565656;
      font-size: 36px;
      line-height: 48px;
      font-family: "Myriad Pro"; }
      .main-body .action-list-view .action-list .action-view-item:active {
        background: #999; }
      .main-body .action-list-view .action-list .action-view-item.selected {
        text-shadow: 0px 1px 0px black;
        -webkit-box-shadow: #330 0 0 4px inset;
        background: #666;
        color: #D9D9D9; }
      .main-body .action-list-view .action-list .action-view-item img {
        max-width: 70px;
        max-height: 55px;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -22.5px; }
      .main-body .action-list-view .action-list .action-view-item .action-name {
        position: absolute;
        width: 290px;
        height: 40px;
        top: 50%;
        margin-top: -20px;
        left: 120px; }
  .main-body .sc-view.projector-overlay {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ADAFB2), to(#58595B));
    -webkit-box-shadow: 0 -2px 2px #333;
    -mox-box-shadow: 0 -2px 3px #333;
    z-index: 100; }
    .main-body .sc-view.projector-overlay .sc-view.sc-label-view.sc-regular-size {
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
      font-family: "Myriad Pro";
      font-size: 23px;
      color: black;
      line-height: 25px; }
    .main-body .sc-view.projector-overlay .control-button {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border: 1px solid #FFF;
      -webkit-box-shadow: 0 0 3px #000;
      -moz-box-shadow: 0 0 3px #000;
      background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#d3d5d6), to(#a8aaab));
      border-color: #D3D3D3; }
      .main-body .sc-view.projector-overlay .control-button:active {
        background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#a8aaab), to(#939595));
        -webkit-box-shadow: 0 0 3px #000 inset;
        -moz-box-shadow: 0 0 3px #000 inset; }
      .main-body .sc-view.projector-overlay .control-button.disabled {
        opacity: 0.6;
        -webkit-box-shadow: 0 0 3px #000;
        -moz-box-shadow: 0 0 3px #000;
        background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#d3d5d6), to(#a8aaab)); }
      .main-body .sc-view.projector-overlay .control-button .label {
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        text-align: center;
        font-weight: 700;
        color: black;
        font-family: "Myriad Pro";
        font-size: 26px;
        line-height: 40px; }
  .main-body .context-area .title {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    color: black;
    font-family: 'Myriad Pro';
    font-size: 48px;
    text-align: center; }
