.top-bar {
  background: -webkit-gradient(linear, 0% 0%, 0% 59%, from(#6D6D6D), to(#000000));
  overflow: visible; }
  .top-bar .sc-label-view {
    color: #A1A1A1;
    font-family: "Gotham Black"; }
  .top-bar .room-label {
    line-height: 24px;
    font-size: 28px; }
  .top-bar .time-label {
    font-size: 24px;
    line-height: 22px; }

.sc-view.status-button {
  background: -webkit-gradient(linear, 0% 0%, 0% 55%, from(#808285), to(black));
  border: 1px solid #303030;
  -webkit-border-radius: 5px;
  overflow: visible;
  z-index: 49;
  -webkit-box-shadow: 0 0 5px #000; }
  .sc-view.status-button:active {
    background: -webkit-gradient(linear, 0% 0%, 0% 55%, from(#424345), to(black));
    padding-top: -2px;
    padding-right: -2px;
    width: -2px;
    height: -2px; }
    .sc-view.status-button:active img {
      opacity: 0.5; }
  .sc-view.status-button img {
    z-index: 50; }

.main-body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D1D3D4), to(#9D9FA2)); }
