@-webkit-keyframes 'pulse' {
  from {
    opacity: 0; }

  40% {
    opacity: 0.6; }

  60% {
    opacity: 0.6; }

  to {
    opacity: 0; } }

@-moz-keyframes 'pulse' {
  from {
    opacity: 0; }

  40% {
    opacity: 0.6; }

  60% {
    opacity: 0.6; }

  to {
    opacity: 0; } }

.overflow {
  overflow: visible; }

.top-bar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6d6d6d), color-stop(0.59, black));
  background: -moz-linear-gradient(center top, #6d6d6d 0%, black 59%);
  overflow: visible; }
  .top-bar .sc-label-view {
    color: #a1a1a1;
    font-family: "Gotham Black"; }
  .top-bar .room-label {
    line-height: 26px;
    font-size: 28px; }
  .top-bar .time-label {
    font-size: 24px;
    line-height: 22px; }

.sc-view.status-button {
  overflow: visible;
  z-index: 300; }
  .sc-view.status-button .button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #808285), color-stop(0.55, black));
    background: -moz-linear-gradient(center top, #808285 0%, black 55.0%);
    border: 1px solid #303030;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    z-index: 301;
    overflow: visible; }
    .sc-view.status-button .button:active {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #424345), color-stop(0.55, black));
      background: -moz-linear-gradient(center top, #424345 0%, black 55.0%);
      -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px -5px 12px inset, black 0px 1px 3px inset, rgba(255, 255, 255, 0.398438) 0px 1px;
      -moz-box-shadow: rgba(0, 0, 0, 0.398438) 0px -5px 12px inset, black 0px 1px 3px inset, rgba(255, 255, 255, 0.398438) 0px 1px;
      box-shadow: rgba(0, 0, 0, 0.398438) 0px -5px 12px inset, black 0px 1px 3px inset, rgba(255, 255, 255, 0.398438) 0px 1px; }
  .sc-view.status-button img {
    z-index: 302;
    pointer-events: none; }
  .sc-view.status-button .sc-view.sc-label-view.sc-regular-size {
    z-index: 302;
    color: white;
    font-family: "Myriad Pro";
    font-size: 25px;
    line-height: 32px;
    pointer-events: none; }
  .sc-view.status-button .control-drawer {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #f8d5a9), color-stop(1, #f9a031));
    background: -moz-linear-gradient(center top, #f8d5a9 25%, #f9a031 100%);
    z-index: 300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 4px #333333;
    -webkit-box-shadow: 0 2px 4px #333333;
    box-shadow: 0 2px 4px #333333; }
    .sc-view.status-button .control-drawer .control-button {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid white;
      -moz-box-shadow: 0 0 3px black;
      -webkit-box-shadow: 0 0 3px black;
      box-shadow: 0 0 3px black;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #d8d8d8), color-stop(1, #acacac));
      background: -moz-linear-gradient(center top, #d8d8d8 25%, #acacac 100%);
      border-color: #d3d3d3; }
      .sc-view.status-button .control-drawer .control-button:active {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #acacac), color-stop(1, #979797));
        background: -moz-linear-gradient(center top, #acacac 25%, #979797 100%);
        -moz-box-shadow: 0 0 3px black inset;
        -webkit-box-shadow: 0 0 3px black inset;
        box-shadow: 0 0 3px black inset; }
      .sc-view.status-button .control-drawer .control-button.disabled {
        opacity: 0.6;
        -moz-box-shadow: 0 0 3px black;
        -webkit-box-shadow: 0 0 3px black;
        box-shadow: 0 0 3px black;
        -moz-box-shadow: 0 0 3px black;
        -webkit-box-shadow: 0 0 3px black;
        box-shadow: 0 0 3px black;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #d8d8d8), color-stop(1, #acacac));
        background: -moz-linear-gradient(center top, #d8d8d8 25%, #acacac 100%); }
      .sc-view.status-button .control-drawer .control-button .label {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
        font-size: 30px;
        font-family: "Myriad Pro";
        font-weight: 700;
        color: #333333;
        line-height: 40px;
        text-align: center; }
    .sc-view.status-button .control-drawer.volume-control {
      background: sc_static("volume_background.png") 50% 60px no-repeat, #2b2c2b; }
      .sc-view.status-button .control-drawer.volume-control .volume-slider {
        background-image: sc_static("volume_controller.png");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 0; }
      .sc-view.status-button .control-drawer.volume-control .control-button {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, white), color-stop(1, #d1d2d3));
        background: -moz-linear-gradient(center top, white 50%, #d1d2d3 100%);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
        .sc-view.status-button .control-drawer.volume-control .control-button:active {
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #d1d1d1), color-stop(1, #a9aaab));
          background: -moz-linear-gradient(center top, #d1d1d1 50%, #a9aaab 100%); }
        .sc-view.status-button .control-drawer.volume-control .control-button .mute-overlay {
          width: 32px;
          height: 7px;
          left: 50%;
          top: 50%;
          margin-left: -16px;
          margin-top: -3.5px;
          position: absolute;
          background: #403e3f;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          pointer-events: none; }
        .sc-view.status-button .control-drawer.volume-control .control-button .mute-light {
          width: 32px;
          height: 7px;
          left: 50%;
          top: 50%;
          margin-left: -16px;
          margin-top: -3.5px;
          position: absolute;
          background: #e82725;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          pointer-events: none;
          -webkit-animation-name: pulse;
          -moz-animation-name: pulse;
          -webkit-animation-duration: 3s;
          -moz-animation-duration: 3s;
          -webkit-animation-iteration-count: infinite;
          -moz-animation-iteration-count: infinite; }
      .sc-view.status-button .control-drawer.volume-control .sc-view.sc-label-view.sc-regular-size {
        font-family: "Gotham Bold";
        font-size: 14px;
        color: white;
        line-height: 14px; }

.main-body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d1d3d4), color-stop(1, #9d9fa2));
  background: -moz-linear-gradient(center top, #d1d3d4 0%, #9d9fa2 100%); }
  .main-body .action-list-view {
    -moz-box-shadow: 7px 0px 5px #333333;
    -webkit-box-shadow: 7px 0px 5px #333333;
    box-shadow: 7px 0px 5px #333333;
    overflow: inherit;
    z-index: 200; }
    .main-body .action-list-view .title-view {
      background: -webkit-gradient(linear, 0% 0%, 0% 91%, from(#96b1cf), to(#5a6a7c), color-stop(0.5, #5a6a7c));
      background: -moz-linear-gradient(center top, #96b1cf 0%, #5a6a7c 91%, #5a6a7c 50%);
      -moz-box-shadow: 0px 4px 6px #333333;
      -webkit-box-shadow: 0px 4px 6px #333333;
      box-shadow: 0px 4px 6px #333333;
      z-index: 48; }
      .main-body .action-list-view .title-view .sc-view.sc-label-view.sc-regular-size.title-text {
        text-shadow: 0px 1px 0px #333333;
        font-size: 32px;
        line-height: 34px;
        color: white;
        font-family: "Myriad Pro"; }
    .main-body .action-list-view .action-list .sc-view.sc-collection-view.sc-list-view {
      background: #d1d1d1;
      -moz-box-shadow: 0 0 10px 10px #b5b5b5 inset;
      -webkit-box-shadow: 0 0 10px 10px #b5b5b5 inset;
      box-shadow: 0 0 10px 10px #b5b5b5 inset; }
    .main-body .action-list-view .action-list .sc-view.action-view.sc-collection-item {
      border-bottom: 1pt solid #b5b5b6; }
    .main-body .action-list-view .action-list .action-view-item {
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
      height: 100%;
      color: #565656;
      font-size: 36px;
      line-height: 48px;
      font-family: "Myriad Pro"; }
      .main-body .action-list-view .action-list .action-view-item:active {
        background: #999999; }
      .main-body .action-list-view .action-list .action-view-item.selected {
        text-shadow: 0px -1px 0px black;
        -moz-box-shadow: #333300 0 0 4px inset;
        -webkit-box-shadow: #333300 0 0 4px inset;
        box-shadow: #333300 0 0 4px inset;
        background: #666666;
        color: #d9d9d9; }
      .main-body .action-list-view .action-list .action-view-item img {
        max-width: 70px;
        max-height: 55px;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -22.5px; }
      .main-body .action-list-view .action-list .action-view-item .action-name {
        position: absolute;
        width: 290px;
        height: 40px;
        top: 50%;
        margin-top: -20px;
        left: 120px; }
  .main-body .sc-view.projector-overlay {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #adafb2), color-stop(1, #58595b));
    background: -moz-linear-gradient(center top, #adafb2 0%, #58595b 100%);
    -moz-box-shadow: 0 -2px 2px #333333;
    -webkit-box-shadow: 0 -2px 2px #333333;
    box-shadow: 0 -2px 2px #333333;
    z-index: 100; }
    .main-body .sc-view.projector-overlay .sc-view.sc-label-view.sc-regular-size {
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
      font-family: "Myriad Pro";
      font-size: 23px;
      color: black;
      line-height: 25px; }
    .main-body .sc-view.projector-overlay .control-button {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid white;
      -moz-box-shadow: 0 0 3px black;
      -webkit-box-shadow: 0 0 3px black;
      box-shadow: 0 0 3px black;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #d3d5d6), color-stop(1, #a8aaab));
      background: -moz-linear-gradient(center top, #d3d5d6 25%, #a8aaab 100%);
      border-color: #d3d3d3; }
      .main-body .sc-view.projector-overlay .control-button:active {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #a8aaab), color-stop(1, #939595));
        background: -moz-linear-gradient(center top, #a8aaab 25%, #939595 100%);
        -moz-box-shadow: 0 0 3px black inset;
        -webkit-box-shadow: 0 0 3px black inset;
        box-shadow: 0 0 3px black inset; }
      .main-body .sc-view.projector-overlay .control-button.disabled {
        opacity: 0.6;
        -moz-box-shadow: 0 0 3px black;
        -webkit-box-shadow: 0 0 3px black;
        box-shadow: 0 0 3px black;
        -moz-box-shadow: 0 0 3px black;
        -webkit-box-shadow: 0 0 3px black;
        box-shadow: 0 0 3px black;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #d3d5d6), color-stop(1, #a8aaab));
        background: -moz-linear-gradient(center top, #d3d5d6 25%, #a8aaab 100%); }
      .main-body .sc-view.projector-overlay .control-button .label {
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        text-align: center;
        font-weight: 700;
        color: black;
        font-family: "Myriad Pro";
        font-size: 26px;
        line-height: 40px; }
  .main-body .context-area .title {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    color: black;
    font-family: "Myriad Pro";
    font-size: 48px;
    text-align: center;
    line-height: 48px; }

.computer-module .computer-on-label.title {
  color: #565656;
  font-size: 30px; }
.computer-module .computer-off .computer-off-label.title {
  color: #68121c;
  font-size: 30px; }
.computer-module .computer-off .control-button {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid white;
  -moz-box-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #d3d5d6), color-stop(1, #a8aaab));
  background: -moz-linear-gradient(center top, #d3d5d6 25%, #a8aaab 100%);
  border-color: #d3d3d3; }
  .computer-module .computer-off .control-button:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #a8aaab), color-stop(1, #939595));
    background: -moz-linear-gradient(center top, #a8aaab 25%, #939595 100%);
    -moz-box-shadow: 0 0 3px black inset;
    -webkit-box-shadow: 0 0 3px black inset;
    box-shadow: 0 0 3px black inset; }
  .computer-module .computer-off .control-button.disabled {
    opacity: 0.6;
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, #d3d5d6), color-stop(1, #a8aaab));
    background: -moz-linear-gradient(center top, #d3d5d6 25%, #a8aaab 100%); }
  .computer-module .computer-off .control-button .label {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    font-weight: 400;
    color: black;
    font-family: "Myriad Pro";
    font-size: 24px;
    line-height: 40px; }

.vcr-module .title {
  margin-top: 10px; }
.vcr-module .controls {
  position: absolute;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  top: 80px;
  bottom: 20px; }
  .vcr-module .controls .background {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #3e3e3e;
    -webkit-border-radius: 20px;
    -webkit-box-shadow: 0 0 3px 4px #333333; }
    .vcr-module .controls .background .wescontrol-text {
      position: absolute;
      bottom: 8px;
      right: 10px;
      color: #b7b7b8;
      font-family: "Myriad Pro";
      font-weight: bold;
      font-size: 13px; }
  .vcr-module .controls .vcr-button {
    height: 50px;
    position: absolute;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bababa), to(white));
    -webkit-box-shadow: 0 0 2px #333333;
    -webkit-border-radius: 5px;
    z-index: 60;
    border: 1px solid white; }
    .vcr-module .controls .vcr-button:active {
      background: -webkit-gradient("linear", 0% 25%, 0% 100%, from(#949494), to(#828282));
      -webkit-box-shadow: 0 0 3px black inset; }
    .vcr-module .controls .vcr-button .image {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      background-image: sc_static("dvd_controls.png");
      pointer-events: none; }
    .vcr-module .controls .vcr-button.play {
      left: 0;
      right: 0;
      top: 0; }
      .vcr-module .controls .vcr-button.play .image {
        background-position: 50% -8px; }
    .vcr-module .controls .vcr-button.back {
      top: 60px;
      left: 0;
      width: 57px; }
      .vcr-module .controls .vcr-button.back .image {
        background-position: -5px 225px; }
    .vcr-module .controls .vcr-button.pause {
      top: 60px;
      left: 50%;
      margin-left: -30px;
      width: 60px;
      background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#ffe37b), to(#fee22d));
      -webkit-border-radius: 100px;
      z-index: 62; }
      .vcr-module .controls .vcr-button.pause:active {
        background: -webkit-gradient("linear", 0% 25%, 0% 100%, from(#ccb562), to(#b29e56)); }
      .vcr-module .controls .vcr-button.pause .image {
        background-position: 50% 225px; }
    .vcr-module .controls .vcr-button.forward {
      top: 60px;
      right: 0;
      width: 57px; }
      .vcr-module .controls .vcr-button.forward .image {
        background-position: 70px 225px; }
    .vcr-module .controls .vcr-button.stop {
      top: 120px;
      left: 0;
      right: 0; }
      .vcr-module .controls .vcr-button.stop .image {
        background-position: 50% 160px; }
    .vcr-module .controls .vcr-button.previous {
      width: 150px/2;
      left: 0;
      top: 180px; }
      .vcr-module .controls .vcr-button.previous .image {
        background-position: 10% 105px; }
    .vcr-module .controls .vcr-button.next {
      width: 150px/2;
      right: 0;
      top: 180px; }
      .vcr-module .controls .vcr-button.next .image {
        background-position: 90% 105px; }
    .vcr-module .controls .vcr-button.menu {
      width: 150px/2;
      left: 0;
      top: 240px; }
      .vcr-module .controls .vcr-button.menu .image {
        background-position: 10% 55px; }
    .vcr-module .controls .vcr-button.title {
      width: 150px/2;
      right: 0;
      top: 240px; }
      .vcr-module .controls .vcr-button.title .image {
        background-position: 90% 55px; }
  .vcr-module .controls .pause-circle {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 55px;
    left: 50%;
    margin-left: -40px;
    -webkit-border-radius: 100px;
    background: #3e3e3e;
    z-index: 61; }

.dvd-module .title {
  margin-top: 10px; }
.dvd-module .controls {
  position: absolute;
  left: 30px;
  width: 160px;
  top: 80px;
  bottom: 20px; }
  .dvd-module .controls .background {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #3e3e3e;
    -webkit-border-radius: 20px;
    -webkit-box-shadow: 0 0 3px 4px #333333; }
    .dvd-module .controls .background .wescontrol-text {
      position: absolute;
      bottom: 8px;
      right: 10px;
      color: #b7b7b8;
      font-family: "Myriad Pro";
      font-weight: bold;
      font-size: 13px; }
  .dvd-module .controls .dvd-button {
    height: 50px;
    position: absolute;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bababa), to(white));
    -webkit-box-shadow: 0 0 2px #333333;
    -webkit-border-radius: 5px;
    z-index: 60;
    border: 1px solid white; }
    .dvd-module .controls .dvd-button:active {
      background: -webkit-gradient("linear", 0% 25%, 0% 100%, from(#949494), to(#828282));
      -webkit-box-shadow: 0 0 3px black inset; }
    .dvd-module .controls .dvd-button .image {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      background-image: sc_static("dvd_controls.png");
      pointer-events: none; }
    .dvd-module .controls .dvd-button.play {
      left: 0;
      right: 0;
      top: 0; }
      .dvd-module .controls .dvd-button.play .image {
        background-position: 50% -8px; }
    .dvd-module .controls .dvd-button.back {
      top: 60px;
      left: 0;
      width: 57px; }
      .dvd-module .controls .dvd-button.back .image {
        background-position: -5px 225px; }
    .dvd-module .controls .dvd-button.pause {
      top: 60px;
      left: 50%;
      margin-left: -30px;
      width: 60px;
      background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#ffe37b), to(#fee22d));
      -webkit-border-radius: 100px;
      z-index: 62; }
      .dvd-module .controls .dvd-button.pause:active {
        background: -webkit-gradient("linear", 0% 25%, 0% 100%, from(#ccb562), to(#b29e56)); }
      .dvd-module .controls .dvd-button.pause .image {
        background-position: 50% 225px; }
    .dvd-module .controls .dvd-button.forward {
      top: 60px;
      right: 0;
      width: 57px; }
      .dvd-module .controls .dvd-button.forward .image {
        background-position: 70px 225px; }
    .dvd-module .controls .dvd-button.stop {
      top: 120px;
      left: 0;
      right: 0; }
      .dvd-module .controls .dvd-button.stop .image {
        background-position: 50% 160px; }
    .dvd-module .controls .dvd-button.previous {
      width: 75px;
      left: 0;
      top: 180px; }
      .dvd-module .controls .dvd-button.previous .image {
        background-position: 10% 105px; }
    .dvd-module .controls .dvd-button.next {
      width: 75px;
      right: 0;
      top: 180px; }
      .dvd-module .controls .dvd-button.next .image {
        background-position: 90% 105px; }
    .dvd-module .controls .dvd-button.menu {
      width: 75px;
      left: 0;
      top: 240px; }
      .dvd-module .controls .dvd-button.menu .image {
        background-position: 10% 55px; }
    .dvd-module .controls .dvd-button.title {
      width: 75px;
      right: 0;
      top: 240px; }
      .dvd-module .controls .dvd-button.title .image {
        background-position: 90% 55px; }
  .dvd-module .controls .pause-circle {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 55px;
    left: 50%;
    margin-left: -40px;
    -webkit-border-radius: 100px;
    background: #3e3e3e;
    z-index: 61; }
.dvd-module .five-way {
  position: absolute;
  width: 157px;
  height: 157px;
  top: 150px;
  left: 222px;
  background-image: sc_static("five-way.png");
  background-position-x: 50%;
  background-position-y: -5px;
  z-index: 62; }
  .dvd-module .five-way.right {
    background-position-y: -175px; }
  .dvd-module .five-way.down {
    background-position-y: -345px; }
  .dvd-module .five-way.left {
    background-position-y: -515px; }
  .dvd-module .five-way.up {
    background-position-y: -685px; }
  .dvd-module .five-way.enter {
    background-position-y: -855px; }
