.overflow {
  overflow: visible; }

.top-bar {
  background: -webkit-gradient(linear, 0% 0%, 0% 59%, from(#6D6D6D), to(#000000));
  overflow: visible; }
  .top-bar .sc-label-view {
    color: #A1A1A1;
    font-family: "Gotham Black"; }
  .top-bar .room-label {
    line-height: 26px;
    font-size: 28px; }
  .top-bar .time-label {
    font-size: 24px;
    line-height: 22px; }

.sc-view.status-button {
  overflow: visible;
  z-index: 49; }
  .sc-view.status-button .button {
    background: -webkit-gradient(linear, 0% 0%, 0% 55%, from(#808285), to(black));
    border: 1px solid #303030;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #000;
    z-index: 50;
    overflow: visible; }
    .sc-view.status-button .button:active {
      -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px -5px 12px inset, black 0px 1px 3px inset, rgba(255, 255, 255, 0.398438) 0px 1px; }
  .sc-view.status-button img {
    z-index: 51;
    pointer-events: none; }
  .sc-view.status-button .control-drawer {
    background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#F8D5A9), to(#F9A031));
    z-index: 49;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px #333; }
    .sc-view.status-button .control-drawer .control-button {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      -webkit-border-radius: 5px;
      border: 1px solid #FFF;
      -webkit-box-shadow: 0 0 3px #000;
      background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#d8d8d8), to(#acacac));
      border-color: #D3D3D3; }
      .sc-view.status-button .control-drawer .control-button:active {
        background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#acacac), to(#979797));
        -webkit-box-shadow: 0 0 3px #000 inset; }
      .sc-view.status-button .control-drawer .control-button.disabled {
        opacity: 0.6;
        -webkit-box-shadow: 0 0 3px #000;
        background: -webkit-gradient(linear, 0% 25%, 0% 100%, from(#d8d8d8), to(#acacac)); }
      .sc-view.status-button .control-drawer .control-button .label {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        text-shadow: 0px 1px 0px white;
        font-size: 30px;
        font-family: "Myriad Pro";
        font-weight: 700;
        color: #333;
        line-height: 40px;
        text-align: center; }
    .sc-view.status-button .control-drawer.volume-control {
      background: #2B2C2B; }

.main-body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D1D3D4), to(#9D9FA2)); }
  .main-body .action-list-view {
    -webkit-box-shadow: 7px 0px 5px #333333;
    overflow: inherit; }
    .main-body .action-list-view .title-view {
      background: -webkit-gradient(linear, 0% 0%, 0% 91%, from(#96B1CF), to(#5A6A7C), color-stop(.5,#5A6A7C));
      -webkit-box-shadow: 0px 4px 6px #333333;
      z-index: 48; }
      .main-body .action-list-view .title-view .sc-view.sc-label-view.sc-regular-size.title-text {
        text-shadow: 0px 1px 0px #333333;
        font-size: 32px;
        line-height: 30px;
        color: white;
        font-family: "Myriad Pro"; }
    .main-body .action-list-view .action-list {
      background: #EAEAEA;
      -webkit-box-shadow: 0 0 10px 10px #B5B5B5 inset; }
