<div class='projector-module'>
  <img class='status-image' src='images/projector/${status_image}' />
  <!-- /%img.screen-image{:src =>"images/screen.png"} -->
  <img class='source-image' src='images/sources/${source_image}' />
  <!-- /.screen-image-overlay -->
  <div class='controls'>
    <div class='projector-label header label'>projector</div>
    <div class='power-button button'>
      <div class='label'>${power_button_label}</div>
    </div>
    <div class='blank-button button'>
      <div class='label'>${blank_button_label}</div>
    </div>
    <div class='audio-label header label'>audio</div>
    <div class='slider'>
      <div class='volume-slider slider'></div>
      <div class='volume-gauge'></div>
      <div class='volume-divider'></div>
      <div class='volume-now-gauge'></div>
    </div>
    <div class='mute-button button'>
      <div class='label'>${mute_button_label}</div>
    </div>
  </div>
</div>
