!!!5
%html
  %head
  %body
    %form{:name => "login", :action => "login.php", :method => "post"} 
      %label{:for => "user"} Username:
      %input{:type => "text", :name => "user", :class => "text"}
      %label{:for => "password"} Password:
      %input{:type => "password", :name => "password", :class => "password"}
      %input{:type => "submit", :value => "Login"}
    %form{:name => "register", :action => "register.php", :method => "post"}
      %label{:for => "user"} Username:
      %input{:type => "text", :name => "user", :class => "text"}
      %label{:for => "password"} Password:
      %input{:type => "password", :name => "password", :class => "password"}
      %label{:for => "pass2"} Retype Password:
      %input{:type => "password", :name => "pass2", :class => "password"}
      %input{:type => "submit", :value => "Register"}
