!!!5
%html
  %head
    %title TP6
    slinky_styles

    - ["json2", "jquery-1.5.1", "jquery.tmpl",  "jquery.image.load", "underscore", "backbone"].each do |f|
      %script{:src => "script/vendor/#{f}.js"}
    %script{:src => "http://129.133.210.70:8080/target/target-script-min.js#anonymous"}
    slinky_scripts
  %body
    #page
      #top-bar
        #room-label.label
        #time-label.label
      #main-view
        #projector-pane
        #action-pane
          .action-module
            %ul.action-list
        #context-pane
          .context-area
          .projector-overlay
    #lost-connection
      .title Server Connection Lost
      .text The connection to the server has been lost. Try operating the equipment manually, or call 4959 for help.
      .reconnection-attempt
        %span Will attempt to reconnect in
        %span.reconnection-counter 2 seconds
      .reconnecting{:style => "display:none;"} Reconnecting...
