!!!5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="style.css")
  %body
    %fieldset
      %legend Roomtrol
      %form{:action => 'cgi-bin/login.cgi', :method => 'post', :name => 'login'}
        %p
          %label{:for => 'user'}Username:
          %input{:class => 'text', :name => 'user', :type => 'text'}
        %p
          %label{:for => 'password'}Password:
          %input{:class => 'password', :name => 'password', :type => 'password'}
        %div{:class => 'submit'}
          %p
            %input{:type => 'submit', :value => 'login'}
