!!!5
%html
  %head
    %link(rel="stylesheet" type="text/css" href="styles.css")
  %body
    %fieldset
      %legend Roomtrol
      %form{:name => "login", :action => "cgi-bin/login.cgi", :method => "post"} 
        %p
          %label{:for => "user"} Username:
          %input{:type => "text", :name => "user", :class => "text"}
        %p
          %label{:for => "password"} Password:
          %input{:type => "password", :name => "password", :class => "password"}
        .submit
          %p
            %input{:type => "submit", :value => "Login"}
