.computer-module
  .title Computer
  
  .computer-off{:style => "display: none"}
    .off-label.title Error: computer is off
  
    .on-button.control-button
      .label Attempt to turn on

  .computer-on{:style => "display:none"}
    .on-label.title Computer is on
     
