.vcr-module
  .title VCR
  .controls
    .overlay
    .background
      .roomtrol-text Roomtroller

    = "{{each buttons}}"
    %div{:class => "${$value} dvd-button", :title => "${$value}"}
    = "{{/each}}"

    .pause-circle
