.topBar {
	background-image: sc_static("header.png");
	background-repeat: no-repeat;
	background-position: 98% 50%;
}


/*------------------------*\
|*        Tabs CSS        *|
\*------------------------*/

a.tabButton {
	border-radius: 0px;
}

.tabButton .sc-button-label {
	font-family: Helvetica, Arial;
	font-size: 2.8em;
	font-weight: bold;
	color: white;
	line-height: 40px;
}

.tabButton.sel {
	background-color: white;
}

.tabButton.sel.tan {
	background-color: #EFEBE3;
}

.tabButton.sel label.sc-button-label {
	color: black;
	background: none;
}

/*------------------------*\
|*     Room List CSS      *|
\*------------------------*/
.sc-theme .sc-list-view.roomList {
	background: none;
}

.roomList .has-disclosure label {
	font-size: 18px;
	text-align: left;
	margin-left: 10px;
	margin-right: inherit;
}
.roomList label{
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	margin-right: 60px;
	margin-left: 100px;
}

.device-list-item-view {
	border-bottom: 1px solid #DDD;
}

.device-view-item .device-name {
	font-size: 30px;
	font-family: Helvetica, Arial;
	width: 100px;
	position: absolute;
	left: 10px;
	line-height: 80px;
}
.device-view-item .device-statevars {
	left: 150px;
	position: relative;
	font-size: 15px;
	height: 80px;
}
.sc-view td.var-name, .sc-view td.var-state {
	font-family: Helvetica, Arial;
	text-align: right;
	border: 0;
	padding: 0;
	text-transform:capitalize;
}
.sc-view td.var-state {
	color: gray;
	text-align: left;
	padding-left: 5px;
	text-transform:none;
}
.device-view-item.selected {
	background-color: #5498FF;
}
.device-view-item.selected .device-name, 
.sc-view .device-view-item.selected td.var-name {
	color: white;
}
.sc-view .device-view-item.selected td.var-state {
	color: #DDD;
}
.sc-theme .sc-collection-view.roomList .sc-collection-item.sel {
	background-color: white;
	color: black;
}
.sc-theme.focus .sc-collection-view.focus.roomList .sc-collection-item.sel {
	background-color: white;
	color: black;
}

.sc-label-view.sc-regular-size.backgroundText {
	font-family: Helvetica, Arial;
	font-size: 87px;
	color: black;
	opacity: 0.08;
	line-height: 80px;
	text-align: center;
}

/*------------------------*\
|*   Device Control CSS   *|
\*------------------------*/

.sc-view.device-control-view
{
	position: static;
}
.sc-view.device-control-view .sc-view.sc-label-view {
	font-family: Helvetica, Arial;
	color: black;
	position: static;
	padding-top: 10px;
}

.sc-view.device-control-view .sc-view.sc-label-view.device-name {
	font-size: 40px;
	text-align: center;
	padding-top:10px;
	line-height: 45px;
}

.sc-view.device-control-view .sc-view.sc-label-view.var-name {
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	margin-left: 10px;
	text-transform: capitalize;
}

.sc-view.device-control-view .sc-view.device-control-button-holder,
.sc-view.device-control-view .sc-view.sc-slider-view,
.sc-view.device-control-view .sc-view.select-button {
	position: relative;
} {
	position: relative;
}