/* POWER BUTTON */
.pwr-btn {
  width: 75px;
  height: 75px;
  position: relative;
  display: block;
}
.pwr-btn input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0;
}
.pwr-btn label {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #3A3A3A;
  text-align: center;
  line-height: 93px;
  text-shadow: 0 2px 1px rgba(0,0,0,0.25);
  border-radius: 50%;
  transition: all 0.3s ease-out;
  z-index: 99;
  border: 1px solid #555555;
}
.pwr-btn label i {
  line-height: 1.7;
}
.pwr-btn label:before {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  z-index: 99;
  border-radius: inherit;
  //border: 1px solid #555555;
}

.pwr-btn label:after {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  z-index: 98;
  border-radius: inherit;
  //border: 1px solid #555555;
}
.pwr-btn .fa-power-off:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -35% 0 0 -35%;
  border-radius: 50%;
  //border: 1px solid #555555;
}

.pwr-on {
  color: #C7FBFD !important;
  text-shadow: #C7FBFD 1px 1px 13px !important;
  box-shadow: 0px 0px 10px #C7FBFD, 0px 0px 15px #C7FBFD;
}
.warming {
  box-shadow: 0px 0px 10px #B5BB1B, 0px 0px 15px #B5BB1B;
  text-shadow: #B5BB1B 1px 1px 13px !important;
  color: #B5BB1B !important;
  -webkit-animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
