/* VIDEO MUTE BUTTON */
.vm-btn {
  width: 75px;
  height: 75px;
  position: relative;
  display: block;
  margin-top: 25px;
}
.vm-btn label {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #3A3A3A;
  text-align: center;
  border-radius: 15%;
  transition: all 0.3s ease-out;
  z-index:9;
  padding-top: 17px;
  border: 1px solid #555555;
}
.vm-txt {
}

.vm-btn label:before {
  content: "";
  position: absolute;
  left: -5px
  right: -5px;
  top: -5px;
  bottom: -5px;
  z-index: 99;
  border-radius: 15%;
}

.vm-btn label:after {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  z-index: 98;
  border-radius: 15%;
}

.vm-btn span:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -35% 0 0 -35%;
}
.vm-on {
  color: #C7FBFD !important;
  text-shadow: #C7FBFD 1px 1px 13px;
  box-shadow: 0 1px 10px #C7FBFD, 0 2px 15px #C7FBFD;
}

